/*------------------------------------------section > content ----------------------------------- */

.row {
    display: flex;
}

.colonne {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.around {
    justify-content: space-around;
    align-items: center;
}

.m-2 {
    margin: 20px;
}

.m-1 {
    margin: 10px;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}

.w-content {
    width: 50%;
}

.grey{
    color: grey;
    padding: 0 20px
}

.texte {
    width: 50%;
    min-width: 300px;
    max-width: 1000px;
}

.content {
    padding-top: 80px;
}

.card {
    background-color: #ECECD9;
    color: rgb(45, 45, 45);
}

.avatar {
    border-radius: 50%;
}

.row-big-img  {
    margin : 20px 10px;
}

.row-big-img > img {
    width: 80%;
    object-fit: cover;
}

.row-big-img > .texte {
    width: 80%;
    margin: 20px 0;
}

.avatar-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.avatar-row > p{
    margin: 10px;
}

.button {
    background-color: #ECECD9;
    color: rgb(45, 45, 45);
    padding: 12px 9px;
    margin: 20px 0;
}

.button:hover {
    background-color: rgb(45, 45, 45);
    color: #ECECD9;
    padding: 12px 9px;
    cursor: pointer;
}

.start{
    justify-content: start;
    align-items: start;
}

.border-radius-content{
    border-radius: 0 25px 0 0;
}

.card-top-text{
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: rgb(45, 45, 45) 1px solid;
}

.card-top-text > .colonne {
    width: 90%;
    border-right: rgb(89, 89, 89) 1px solid;
    padding: 10px 20px;
}

.titreh3{
    font-size: 20px;
    padding: 20px 0;
}

.card-top-text > .colonne > .texte{
    width: 90%;
    padding: 10px 0;
}

.dateImageNom{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: end;
    margin: 10px 20px;
}

.w-content :not(:nth-child(1)){
    margin-top: 20px ;
}

@media only screen and (max-width: 1200px) {
    body > .content{
        flex-direction: column-reverse;
    }
    .w-content {
        width: 100%;
    }
    .premier-paragraphe{
        width: 50%;
    }
}