*{
    margin :0;
    padding: 0;
}


body{
    margin: 0;
    font-family: WF Visual Sans Text, Arial, sans-serif;
    background-color: black;
    color: #ECECD9;
    font-size: 13px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color:  #ECECD9;
    font-weight: 400;
    position: fixed;
    width: 100%;
}

nav > .menu{
    display: flex;
    justify-content: start;
    align-items: center;
}

nav > .menu > img{
    padding: 0 5px;
}


nav > .menu > ul{
    display: flex;
    justify-content: start;
    align-items: start;
    list-style: none;
}

nav > .menu > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li>a {
    font-size: 12px;
    padding: 7px;
    text-decoration: none;
    color : rgb(45, 45, 45);
}

li>a:hover {
    color: rgb(80, 80, 80);
}

nav > .icones{
    display: flex;
    justify-content: end;
    align-items: center;
}

nav > .icones > *{
    margin: 10px;
}

.divider{
    height :30px;
    border-left: 1px solid gray;
}