/*------------------------------------------section > content ----------------------------------- */

.row {
    display: flex;
}

.colonne {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.around {
    justify-content: space-around;
    align-items: center;
}

.m-2 {
    margin: 20px;
}

.m-1 {
    margin: 10px;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}

.w-content {
    width: 80%;
}

.borderGrey {
    width: 1px;
    border: 0.8px solid gainsboro;
}

.texte {
    width: 50%;
    min-width: 300px;
    max-width: 1000px;
}

.content {
    padding-top: 80px;
}

.card {
    background-color: #ECECD9;
    margin: 30px;
    color: black;
}

.avatar {
    border-radius: 50%;
    margin: 10px;
}

.button {
    background-color: #ECECD9;
    color: black;
    padding: 12px 9px;

}

.button:hover {
    background-color: black;
    color: #ECECD9;
    padding: 12px 9px;
    cursor: pointer;
}

.start{
    justify-content: start;
    align-items: start;
}

@media only screen and (max-width: 1200px) {
    body > .content{
        flex-direction: column-reverse;
    }
    .w-content {
        width: 100%;
    }
    .premier-paragraphe{
        width: 50%;
    }
}